<div class="menuitem-container">
    <div class="item" (click)="onClicked()">
        <div class="icon">
            <svg-icon [src]="iconUrl" [applyCss]="true"></svg-icon>
        </div>
        <p>{{title}}</p>
        <div class="btn">
            <button [ngStyle]="btnStyle">{{count}}</button>
        </div>
    </div>
    <div [ngStyle]="contentStyle" [hidden]="isHidden" class="itemcontent">
        <p [routerLink]="item" class="child" *ngFor="let item of content"> {{item}} </p>
    </div>
</div>